<h1 class="mt-4"></h1>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Data Table
    </div>
    <!-- <div *ngIf="this.fireSer.isEmpty">
        <h4>Table is empty!</h4>
    </div> -->
    <!-- <div *ngIf="!this.fireSer.isEmpty" class="card-body"> -->
    <div class="card-body">

        <div class="d-flex flex-wrap">
            <button id="border" style="margin-right:1%;"><i class="fas fa-filter"></i></button>
            <ng-select class="w-25" [(ngModel)]="selectedTag" (change)="check(selectedTag)">

                <ng-option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</ng-option>
            </ng-select>
            <button id="border" style="margin-right:1%;" (click)="openTagDialog()"><i class="fas fa-plus"></i></button>

        </div>


        <!--Using items input-->

        <div class="table-responsive">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Note</th>
                        <th>Price</th>
                        <th>Quanlity</th>
                        <th>Tag</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Note</th>
                        <th>Price</th>
                        <th>Quanlity</th>
                        <th>Tag</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody
                    *ngFor="let item of collection| paginate: { itemsPerPage: numberOfItem, currentPage: p }; let i = index">
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.title}}</td>
                        <td>{{item.note}}</td>
                        <td>{{item.price}}VNĐ</td>
                        <td>{{item.quanlity}}</td>
                        <table class="table table-borderless">
                            <tr>
                                <td *ngFor="let tag of item.tag">
                                    {{tag.name}}
                                </td>
                            </tr>
                        </table>

                        <td>
                            <button (click)="openUpdateDialog(item)" type="button" class="btn btn-primary btn-sm px-3"
                                style="margin-right: 3px;">
                                <i class="fas fa-highlighter"></i>
                            </button>
                            <button (click)="deleteItem()" type="button" class="btn btn-danger btn-sm px-3">
                                <i class="fas fa-times"></i>
                            </button>
                        </td>
                    </tr>

                    <!-- <tr
                        *ngFor="let item of items|async| paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.subtitle}}</td>
                        <td>
                            <button class="btn btn-outline-primary" style="margin-right: 1%;"
                                (click)="open(item)">Update</button>
                            <button class="btn btn-outline-primary" (click)="del(item.id)">Delete</button>
                        </td>
                    </tr> -->
                    <!-- form update -->
                    <ng-template #dialogMatSelect>
                        <form [formGroup]="updateFrm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Enter Title"
                                    formControlName="title">
                            </div>
                            <div class="form-group">
                                <label>Note</label>
                                <input type="text" class="form-control" placeholder="Enter Note" formControlName="note">
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input type="number" class="form-control" placeholder="Enter Price"
                                    formControlName="price">
                            </div>
                            <div class="form-group">
                                <label>Quanlity</label>
                                <input type="number" class="form-control" placeholder="Enter Quanlity"
                                    formControlName="quanlity">
                            </div>
                            <fieldset class="container" id="updateForm">
                                <div class="row" style="margin-bottom: 5%;">

                                    <ng-select class=" w-25 col-md" [(ngModel)]="selectedTag"
                                        (change)="valChange(selectedTag)" formControlName="tag">
                                        <ng-option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</ng-option>
                                    </ng-select>

                                    <button class="col-md btn-primary btn-lg btn-floating">
                                        <i class="fas fa-plus" (click)="addUpdateTag()"></i>
                                    </button>
                                </div>
                            </fieldset>
                            <div class="row itemsBlock text-center" style="margin-bottom: 5%;" id="updateForm">
                                <div *ngFor="let item of currentTag;let i = index" class="col-md-4 col-sm-6 col-12">
                                    <h2 (click)="removeUpdateTag(i)">{{item.name}}</h2>
                                    <!-- <button id="border">
                                        <i class="fas fa-minus-circle" (click)="removeUpdateTag(i)"></i>
                                    </button> -->
                                </div>
                            </div>



                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </ng-template>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>